<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
</head>
<body>
<main>
    <div style="height: 80px; width: 100%;"></div>
    <div class="container">
        <div class="columns">
            <!--<div class="collumn col-2">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Game</th>
                    </tr>
                    </thead>
                    <tbody id="gamesTable">
                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>-->
            <div class="collumn col-2">
                <div class="form-group">
                    <select onchange="getStreams(this.value)" id="gamesSelect" class="form-select select-lg">
                        <option>Choose an game</option>
                    </select>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Game</th>
                    </tr>
                    </thead>
                    <tbody id="streamsTable">
                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column col-10">
                <div id="twitch-embed"></div>
            </div>
            <!--<div class="column col-2">
                <iframe frameborder="0"
                        scrolling="no"
                        id="chat_embed"
                        src="http://www.twitch.tv/embed/qsnake/chat"
                        height="500"
                        width="100%">
                </iframe>
            </div>-->
        </div>
    </div>
</main>
<script src="http://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript">
    let player = new Twitch.Player("twitch-embed", {
        width: '100%',
        height: 800,

        chat: 'mobile',
        layout: 'video',
        autoplay: false
    });

    player.setVolume(0);

</script>
<script>
    let getGamesRequest = new Request('https://api.twitch.tv/helix/games/top', {
        method: 'GET',
        headers: new Headers({
            'Client-ID': 'pyoldk5odp2yw4nrhbpd6s5qmq2grb'
        }),
        mode: 'cors',
        cache: 'default'
    });

    fetch(getGamesRequest)
        .then(res => res.json())
        .then(json => {
            document.getElementById('gamesSelect').innerHTML = _.template('<% _.forEach(games, function(game) { %>' +
                '<option><%- game.name %></option>' +
                '<% }); %>')({'games': json.data});
            document.getElementById('gamesSelect').value = 'Dota 2';
            console.log(json);
        });

    const getStreams = (gameName = 'Dota 2') => {
        let streamsRequest = new Request(`https://api.twitch.tv/kraken/streams/?game=${gameName}`, {
            method: 'GET',
            headers: new Headers({
                'Accept': 'application/vnd.twitchtv.v5+json',
                'Client-ID': 'pyoldk5odp2yw4nrhbpd6s5qmq2grb'
            }),
            mode: 'cors',
            cache: 'default'
        });

        fetch(streamsRequest)
            .then(res => res.json())
            .then(json => {
                document.getElementById('streamsTable').innerHTML = _.template('<% _.forEach(streams, function(stream) { %>' +
                    '<tr style="cursor: pointer" onclick="player.setChannel(\'<%- stream.channel.name %>\'); player.play();">\n' +
                    '                        <td>\n' +
                    '                            <figure class="avatar avatar-lg">\n' +
                    '                                <img src="<%- stream.preview.small %>">\n' +
                    '                            </figure>\n' +
                    '                        </td>\n' +
                    '                        <td><%- stream.channel.display_name %></td>\n' +
                    '                    </tr>' +
                    '<% }); %>')({'streams': json.streams});
                console.log(json);
            });
    };

    getStreams();
</script>
</body>
</html>